* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: burlywood;
  flex-direction: column;
  padding: 10px;
  width: 50vw;
}
.main {
  flex: 5;
}
.menu {
  flex: 2;
}

.todowrite {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
  background-color: burlywood;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: 120px;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: whitesmoke;
  color: burlywood;
  cursor: pointer;
}
.tododb {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}

.todolist {
  background-color: burlywood;
  gap: 10px;
  margin: 10px;
  padding: 5px 10px;
  min-width: 240px;
}
